/* تأكد من أن الصفحة تمتلئ بالكامل */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    direction: rtl;  /* تغيير اتجاه النص ليكون من اليمين لليسار */
}

#form1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}


#my-awesome-website .cog-label {
  color: red;
}

